version: "3"
services:
  web:
    build:
      context: ./blog
    restart: always
    networks:
      net-pireirik:
        ipv4_address: 10.172.17.2

  nginx:
    image: nginx:stable
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./pireirik-nginx.conf:/etc/nginx/nginx.conf:ro
      - ./pireirik_com/pireirik.crt:/etc/nginx/certs/server.crt:ro
      - ./pireirik_com/pireirik.key:/etc/nginx/certs/server.key:ro
    depends_on:
      - web
    restart: always
    networks:
      net-pireirik:
        ipv4_address: 10.172.17.3

networks:
  net-pireirik:
    ipam:
      config:
        - subnet: 10.172.17.0/24
